{% extends 'base.html.twig' %}
{% block boutonEntreprises %}
    <a class="nav-link active" href="{{path('prostageEntreprises')}}">Entreprises</a>
{% endblock %}
{% block contenu %}
<html>
    <body>
        <h3>Liste des entreprises proposant un stage</h3>
        <br>
        <div class="list-group">
        {% for entrepriseCourante in entreprises %}
            <li class = "list-group-item">
                <a href='{{path('prostageEntreprise',{id:entrepriseCourante.id})}}' class="text-body">
                    <div class="list-group">                       
                        <h5>{{entrepriseCourante.nom}}</h5>                      
                    </div>   
                    <small>
                        <p class="mb-1">Activité : <i>{{entrepriseCourante.activité}}</i></p>
                    </small>
                    <!--Calculer le nombre de stages proposés par l'entreprise-->
                    {% set nbStages = 0 %}   
                    {% for stageCourant in entrepriseCourante.entreprises %} <!--Problème de nommage dans la BD-->
                        {% set nbStages = loop.length %}
                    {% endfor %}
                    <p class="badge badge-pill badge-dark">Nombre de stages : {{ nbStages }}</p>
                </a>
            </li>
        {% endfor %}
        </div>   
    </body>
</html>

{% endblock %}