{% extends 'base.html.twig' %}

{% block contenu %}

<html>
    <body>
        <h3>Stage de {{entreprise.nom}}</h3>
        {% for stageCourant in stages %} <!--problème de nom-->
        <li class = "list-group-item">
            <a href='{{path('prostageStages',{id:stageCourant.id})}}' class="text-body">
                <h5>{{stageCourant.titre}}</h5>
                <small>
                    {% for formationCourante in stageCourant.formations %}
                        {% if loop.first and loop.length == 1 %}                            
                            Formation : 
                        {% endif %}
                        {% if loop.first and loop.length != 1 %}
                            Formations : 
                        {% endif %}
                        {% if loop.last %}
                            {{ formationCourante.nom }}.
                        {% else %}
                            {{ formationCourante.nom }}, 
                        {% endif %}
                    {% endfor %}
                </small>
            </a>
        </li>
        {% endfor %}
        <br>
        <p>Les informations ne correspondent pas ? <a href='{{path('prostageMoficationEntreprise',{id:entreprise.id})}}' class="text-decoration-none">Modifiez les !</a></p>
    </body>
</html>

{% endblock %}