{% extends 'base.html.twig' %}

{% block contenu %}

<html>
    <body>
        <br>
        <h3>Stage pour {{formation.nomComplet}}</h3>
        <br>
        <div class="list-group">
        {% for stageCourant in stages %}
            <li class = "list-group-item">
                <a href='{{path('prostageStages',{id:stageCourant.id})}}' class="text-body">
                    <div class="list-group">                       
                        <h5>{{stageCourant.titre}}</h5>                      
                    </div>   
                    <small>
                        <p class="mb-1">Entreprise : <i>{{stageCourant.entreprise.nom}}</i></p>
                        <p class="mb-1">Activité : <i>{{stageCourant.entreprise.activite}}</i></p>
                    </small>
                </a>
            </li>
        {% endfor %}
        </div>
    </body>
</html>

{% endblock %}