{% extends 'base.html.twig' %}

{% block contenu %}
    <h3>Création d'une nouvelle entreprise :</h3>
    <div class="row">
        {{ form_start(vueFormulaireEntreprise) }}
            <div>
                {{ form_label (vueFormulaireEntreprise.nom) }}
                <br>
                {{ form_errors (vueFormulaireEntreprise.nom) }}
                {{ form_widget (vueFormulaireEntreprise.nom) }}
            </div>
            <div>
                {{ form_label (vueFormulaireEntreprise.adresse) }}
                <br>
                {{ form_errors (vueFormulaireEntreprise.adresse) }}
                {{ form_widget (vueFormulaireEntreprise.adresse) }}
            </div>
            <div>
                {{ form_label (vueFormulaireEntreprise.activite) }}
                {{ form_errors (vueFormulaireEntreprise.activite) }}
                <br>
                {{ form_widget (vueFormulaireEntreprise.activite) }}
            </div>
            <div>
                {{ form_label (vueFormulaireEntreprise.site) }}
                {{ form_errors (vueFormulaireEntreprise.site) }}
                <br>
                {{ form_widget (vueFormulaireEntreprise.site) }}
            </div>
            <br>
            <button type="submit" class="btn btn-outline-dark"> Modifier entreprise </button>
        {{ form_end(vueFormulaireEntreprise) }}
    </div>
{% endblock %}